modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 4028
externalPort = 3000

[[ports]]
localPort = 4173
externalPort = 80

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Run"
author = 46890672
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Run App"
author = 46890672
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Start Development Server"
author = 46893987
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
